[submodule "sso-manager-node"]
	path = sso-manager-node
	url = https://github.com/theta42/theta-directory.git
[submodule "proxy"]
	path = proxy
	url = https://github.com/theta42/proxy.git
[submodule "jump-host"]
	path = jump-host
	url = https://github.com/theta42/jump-host.git
	branch = master
[submodule "ldap-client"]
	path = ldap-client
	url = https://github.com/theta42/ldap-client.git
[submodule "theta-agent"]
	path = theta-agent
	url = https://github.com/theta42/theta-agent.git
